@page
@using OnkelMato.BlogEngine.Pages.PostAdmin
@model OnkelMato.BlogEngine.Pages.PostAdmin.IndexModel

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">

    <form method="post">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header text-light bg-dark">
                    <h1>Index Posts</h1>
                </div>

                <div class="card-footer">
                    @if (Model.AllowNewPosts)
                    {
                        <a asp-page="Create" class="btn btn-primary">Create New</a>
                    }
                    <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Posts.First().Order)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Posts.First().Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Posts.First().MdPreview)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Posts.First().PublishedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Posts.First().ShowState)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Posts)
                            {
                                <tr class="@(item.ShowState == ShowStateModel.None ? "table-danger" : "table-success")">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        <p>@Html.DisplayFor(modelItem => item.MdPreview)</p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PublishedAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShowState)
                                    </td>
                                    <td>
                                        @if (Model.AllowNewPosts)
                                        {
                                            <a asp-page="./Edit" asp-route-id="@item.UniqueId" class="btn btn-primary">Edit</a>
                                            <a asp-page="./Delete" asp-route-id="@item.UniqueId" class="btn btn-danger">Delete</a>
                                            <a asp-page="./Details" asp-route-id="@item.UniqueId" class="btn btn-primary">Details</a>
                                        }
                                        @if (Model.AllowExport)
                                        {
                                            <a asp-page="/Export" asp-route-entity="Posts" asp-route-id="@item.UniqueId" class="btn btn-warning">Export</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    @if (Model.AllowNewPosts)
                    {
                        <a asp-page="Create" class="btn btn-primary">Create New</a>
                    }
                    <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                </div>
            </div>
        </div>
    </form>
</div>
