@page
@model OnkelMato.BlogEngine.Pages.ImageAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <form method="post">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header text-light bg-dark">
                    <h1>Index Post Images</h1>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PostImage[0].Name)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PostImage[0].AltText)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PostImage[0].ContentType)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PostImage[0].UpdatedAt)
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PostImage)
                            {
                                <tr class="@(item.IsPublished ? "table-success" : "table-danger")">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AltText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContentType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                                    </td>
                                    <td>
                                        @if (Model.AllowNewPosts)
                                        {
                                            <a asp-page="./Edit" asp-route-id="@item.UniqueId" class="btn btn-primary">Edit</a>
                                            <a asp-page="./Delete" asp-route-id="@item.UniqueId" class="btn btn-danger">Delete</a>
                                        }
                                        <a onclick="navigator.clipboard.writeText('@item.UniqueId');" class="btn btn-primary">Copy UID</a>
                                        <a asp-page="./Details" asp-route-id="@item.UniqueId" class="btn btn-primary">Details</a>
                                        <a asp-page="/Image" asp-route-id="@item.UniqueId" class="btn btn-primary">Show</a>
                                        <a asp-page="/Export" asp-route-entity="PostImages" asp-route-id="@item.UniqueId" class="btn btn-warning">Export</a>
                                    </td>
                                </tr>
                            }
                        </tbody>navigator.clipboard.writeText(copyText.value);
                    </table>
                </div>

                <div class="card-footer">
                    @if (Model.AllowNewPosts)
                    {
                        <a asp-page="Create" class="btn btn-primary">Create New</a>
                    }
                    <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                </div>
            </div>
        </div>
    </form>
</div>
